<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div class="modal fade" id="searchPatientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Search Patient</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="patient-name" action="/search_patient" method="post">
                        <div class="form-group">
                            <label for="firstName" class="col-form-label">First Name:</label>
                            <input name="firstName" type="text" class="form-control" id="firstName">
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="col-form-label">Last Name:</label>
                            <input name="lastName" type="text" class="form-control" id="lastName">
                        </div>
                        <button form="patient-name" id="submit-search" class="btn btn-info">Search Patient</button>
                    </form>
                    <!-- This is the div that will be populated with search results -->
                    <div id="results" style="padding-top: 20px;">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    var searchRequest = document.getElementById('submit-search');

    var times = [];
    var i;
    for (i = 9; i <= 17; i++) {
        times.push(i + ":00");
        times.push(i + ":30");
    }

    function datePropagation(dateToTimeMap, initial) {
        var fullDate = new Date();

        // https://stackoverflow.com/questions/2388115/get-locale-short-date-format-using-javascript/31663241
        var today = new Intl.DateTimeFormat('fr-CA', {
                timeZone: $("#current-timezone").html()
            }).format(fullDate);
        var hours = new Intl.DateTimeFormat('en-US', {
            timeZone: $("#current-timezone").html(),
            hour: 'numeric',
            hour12: false
        }).format(fullDate);

        if (!initial) {
            if (today.toString() != $("#scheduledDate").val().toString()) {
                hours = 0;
            }
        }

        $("#times").empty();
        $("#times").append('<div class="btn-group btn-group-toggle" id="button-group-0" data-toggle="buttons" style="padding-bottom: 2%;"></div><br/>');


        if (initial) {
            // it's past 5'o clock, maybe appointments should be an hour in advance
            if (hours >= 17) {
                today = today.substring(0,9) + '' + (parseInt(today.substring(9)) + 1);
                hours = 0;
            }

            $("#scheduledDate").val(today);
        }

        var btn_group_idx = 0;
        var i = 0;
        for (let time of times) {
            if (parseInt(time.split(":")[0]) > hours && (typeof dateToTimeMap[$("#scheduledDate").val()] === 'undefined' || !dateToTimeMap[$("#scheduledDate").val()].includes(time))) {

                if (i == 7) {
                    i = 0;
                    btn_group_idx++;
                    $("#times").append('<div class="btn-group btn-group-toggle" id="button-group-' + btn_group_idx + '" data-toggle="buttons" style="padding-bottom: 2%;"></div><br/>');
                }
                $("#button-group-" + btn_group_idx).append('<label class="btn btn-outline-info">' +
                    '<input type="radio" name="scheduledTime" id="'
                    + time.split(":")[0] + time.split(":")[1] + '" autocomplete="off" value="' +
                    time + '">' + time + '</label>')
                i++;
            } else {
                if (typeof dateToTimeMap[$("#scheduledDate").val()] !== 'undefined' && dateToTimeMap[$("#scheduledDate").val()].includes(time)) {
                    if (i == 7) {
                        i = 0;
                        btn_group_idx++;
                        $("#times").append('<div class="btn-group btn-group-toggle" id="button-group-' + btn_group_idx + '" data-toggle="buttons" style="padding-bottom: 2%;"></div><br/>');
                    }
                    $("#button-group-" + btn_group_idx).append('<label class="btn btn-secondary disabled">' +
                        '<input type="radio" name="scheduledTime" id="'
                        + time.split(":")[0] + time.split(":")[1] + '" autocomplete="off" value="' +
                        time + '" disabled>' + time + '</label>')
                    i++;
                }
            }

        }
        $("#session-submit").prop("disabled",false);

    }

    searchRequest.addEventListener('click', function() {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        $.ajax({
            type: "POST",
            url: 'search_patient/?firstName=' + document.getElementById("firstName").value
                + '&lastName=' + document.getElementById("lastName").value,
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function (data, textStatus, jqXHR) {
                var res = data;
                // If the results _div_ is not empty, flush it
                if ($.trim($("#results").html())) {
                    $("#results").empty();
                }
                // if data is an empty array or weird
                if (res === undefined || res.length == 0) {
                    $("#results").html("No results.");
                } else {
                    $("#results").append('<table class=\"table\"></table>');
                    $(".table").append(
                        '<thead class="thead-dark">' +
                        '<tr>' +
                        '<th>Name</th>' +
                        '<th>Patient ID</th>' +
                        '<th>DOB</th>' +
                        '<th></th>' +
                        '</tr>' +
                        '</thead>');
                    for (const person of res) {
                        $(".table").append(
                            '<tr>' +
                            '<td>' + person.firstName + ' ' + person.lastName + '</td>' +
                            '<td style="font-size: smaller;">' + person.patientId + '</td>' +
                            '<td>' + person.dob + '</td>' +
                            '<td id="' + person.patientId  + '" class="table-link" data-dismiss="modal">Select</td>' +
                            '</tr>');
                        $("#" + person.patientId).on("click", function() {
                            $("#patientName").val(person.firstName + ' ' + person.lastName)
                            $("#patientId").val(person.patientId)
                            $("#patientDOB").val(person.dob)

                            var dateToTimeMap = {};
                            for (const session of person.scheduledSessions) {
                                var dateTime = session.scheduledTime;
                                var splitDT = dateTime.split(" ");
                                if (typeof dateToTimeMap[splitDT[0]] === 'undefined') {
                                    dateToTimeMap[splitDT[0]] = [];
                                }
                                dateToTimeMap[splitDT[0]].push(splitDT[1]);
                            }

                            $("#scheduledTimes").val(JSON.stringify(dateToTimeMap));

                            datePropagation(dateToTimeMap, true)
                        });
                    }
                }
            },
            error: function (request, status, error) {
                var response = JSON.parse(request.responseText);
                alert(response.message);
            }
        });
    }, false);

    $(document).ready(function() {
        $("#searchPatientModal").on("click", function() {
            if (!$("#searchPatientModal").hasClass("show")) {
                $("table").remove();
                $("#firstName").val('');
                $("#lastName").val('');
            }
        })

        $("#openModal").on("click", function() {
            if (!$("#searchPatientModal").hasClass("show")) {
                $("table").remove();
                $("#firstName").val('');
                $("#lastName").val('');
            }
        })

        $("#scheduledDate").change(function() {
            var dateToTimeMap = JSON.parse($("#scheduledTimes").val())

            var splitProvidedDate = $("#scheduledDate").val().split("-");

            var fullDate = new Date();
            let intlDateObj = new Intl.DateTimeFormat('fr-CA', {
                timeZone: $("#current-timezone").html()
            });

            let localTime = intlDateObj.format(fullDate).split("-");

            var year = localTime[0];
            var day = localTime[2];
            var month = localTime[1];

            if (parseInt(year) < parseInt(splitProvidedDate[0]) ||

                (parseInt(year) == parseInt(splitProvidedDate[0])
                && parseInt(month) < parseInt(splitProvidedDate[1])) ||

                (parseInt(year) == parseInt(splitProvidedDate[0])
                && parseInt(month) == parseInt(splitProvidedDate[1])
                && parseInt(day) <= parseInt(splitProvidedDate[2]))) {
                    datePropagation(dateToTimeMap)
            } else {
                $("#times").empty();
                $("#times").append("<strong>You are not allowed to schedule an appointment in the past.</strong>")
                $("#session-submit").prop("disabled",true);
            }


        })
    });


</script>
</html>