.table-link {
    display:block;
    text-decoration:none;
    cursor:pointer;
    text-align:center !important;
    color:#f88192 !important;
    background-color:#ffffbb !important;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* css for session call page*/
video {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow
    ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#videoBig {
    height: 480px;
    top: 0;
    left: 0;
    z-index: 1;
}

div#videoSmall {
    width: 300px;
    height: 230px;
    padding: 0;
    position: absolute;
    top: 130px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
}

#toggleMute {
  position: absolute;
  /*top:550px;*/
  left: 250px;
}

#toggleVideo {
  position: absolute;
  /*top:550px;*/
  left: 350px;
}