.table-link {
    display:block;
    text-decoration:none;
    cursor:pointer;
    text-align:center !important;
    color:#f88192 !important;
    background-color:#ffffbb !important;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}