<!-- Change password page : /change_password -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Temporary Password</title>
    <th:block th:include="../fragments/header.html"></th:block>
</head>
<body>
<div class="d-flex justify-content-center" style="padding-top: 2%;">
    <form action="/change_password_form" method="post">
        <fieldset>
            <div id="error-message">
                <div th:if="${param.error}" class="alert alert-danger">
                    Error: ${error}
                </div>
            </div>
            <h1>Change your Password</h1>
            <div class="form-group">
                <!-- Username -->
                <label class="col-form-label"  for="username">Username</label>
                <div class="col-sm-10">
                    <input type="text" id="username" name="username" placeholder="Please input your username" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <!-- Temporary Password -->
                <label class="col-form-label" for="old_password">Old Password</label>
                <div class="col-sm-10">
                    <input type="password" id="old_password" name="old_password" placeholder="Please input your temporary password" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <!-- New Password -->
                <label class="col-form-label"  for="new_password">New Password</label>
                <div class="col-sm-10">
                    <input type="password" id="new_password" name="new_password" placeholder="Please input your new password" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <!-- Verify Password -->
                <label class="col-form-label"  for="verify_password">Verify Password</label>
                <div class="col-sm-10">
                    <input type="password" id="verify_password" name="verify_password" placeholder="Please verify your new password" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn btn-success" disabled>Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</body>
<script>
    function checkIfMatching() {
        if ($("#verify_password").val() !== $("#new_password").val()
            && $("#verify_password").val().length
            && $("#new_password").val().length) {
            if ($("#mismatching-passwords").parents("#error-message").length != 1) {
                $("#error-message").append("<div id='mismatching-passwords' " +
                    "class='alert alert-warning'>Passwords do not match.</div>");
            }
            $(".btn-success").prop('disabled', true);
        } else {
            if ($("#mismatching-passwords").parents("#error-message").length == 1) {
                $("#mismatching-passwords").remove();
            }
            $(".btn-success").prop('disabled', false);
        }
    }
    $("#verify_password").change(function() {
        checkIfMatching();
    });

    $("#new_password").change(function() {
        checkIfMatching();
    });
</script>
</html>