<!-- Change password page : /change_password -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Temporary Password</title>
    <th:block th:include="../fragments/header.html"></th:block>
</head>
<body>
<th:block th:include="../fragments/navbar.html"></th:block>

<div class="d-flex justify-content-center container col-lg-6 offset-md-3" style="padding-top: 1%;">
    <form action="/change_password_form" method="post">
        <fieldset>
            <div id="error-message">
                <th:block th:if="${passwordChangeErr}">
                    <th:block th:switch="${passwordChangeErr}">

                        <div class='alert alert-warning col-sm-10' th:case="'passsword_lower'">
                            Password requires lowercase letters.
                        </div>
                        <div class='alert alert-warning col-sm-10' th:case="'passsword_upper'">
                            Password requires uppercase letters.
                        </div>
                        <div class='alert alert-warning col-sm-10' th:case="'passsword_number'">
                            Password requires numeric characters.
                        </div>
                        <div class='alert alert-warning col-sm-10' th:case="'passsword_special'">
                            Password requires at one of these special characters:
                            = + - ^ $ * . [ ] { } ( ) ? " ! @ # % & / \ , > < ' : ; | _ ~ `
                        </div>
                        <div class='alert alert-warning col-sm-10' th:case="'passsword_special'">
                            Password requires at one of these special characters:
                            = + - ^ $ * . [ ] { } ( ) ? " ! @ # % & / \ , > < ' : ; | _ ~ `
                        </div>
                        <div class='alert alert-warning col-sm-10' th:case="'bad_creds'">
                            Incorrect username/password was provided.
                        </div>

                        <!-- Default case -->
                        <div class='alert alert-warning' th:case="*" th:text="${passwordChangeErr}"></div>

                    </th:block>
                </th:block>
            </div>
            <h1>Change your Password</h1>
            <div class="form-group">
                <!-- Username -->
                <label class="col-form-label"  for="username">Username</label>
                <div class="col-sm-10">
                    <input type="text" id="username" name="username" placeholder="Please input your username" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <!-- Temporary Password -->
                <label class="col-form-label" for="old_password">Old Password</label>
                <div class="col-sm-10">
                    <input type="password" id="old_password" name="old_password" placeholder="Please input your temporary password" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <!-- New Password -->
                <label class="col-form-label"  for="new_password">New Password</label>
                <div class="col-sm-10">
                    <input type="password" id="new_password" name="new_password" placeholder="Please input your new password" class="form-control">
                </div>
                <small class="form-text text-muted">Please set a password that has upper and lower case letters, numbers, and special characters.</small>

            </div>

            <div class="form-group">
                <!-- Verify Password -->
                <label class="col-form-label"  for="verify_password">Verify Password</label>
                <div class="col-sm-10">
                    <input type="password" id="verify_password" name="verify_password" placeholder="Please verify your new password" class="form-control">
                </div>
                <input type="hidden" id="userType" name="userType" th:value="${param.patient != null || patient != null} ? 'patient' : (${param.doctor != null || doctor != null} ? 'doctor' : 'admin')">
            </div>

            <div class="form-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn btn-info" disabled>Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</body>
<th:block th:include="../fragments/remove_logout.html"></th:block>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        var username = /*[[${username}]]*/ '';
        if (username.length !== 0 && !username.includes("anonymousUser")) $("#username").val(username);


        var tempPassword = /*[[${temp_password}]]*/ '';
        if (tempPassword.length !== 0) $("#old_password").val(tempPassword);
        $("#old_password").val(tempPassword);
    });
    /*]]>*/
</script>
<script>
    function checkIfMatching() {
        if ($("#verify_password").val().length && $("#new_password").val().length) {
            if ($("#verify_password").val() !== $("#new_password").val()) {
                if ($("#error-message").has("div")) {
                    $("#error-message").empty();
                }
                $("#error-message").append("<div id='mismatching-passwords' " +
                    "class='alert alert-warning'>Passwords do not match.</div>");
                $(".btn-info").prop('disabled', true);
            } else {
                if ($("#verify_password").val().length <= 8) {
                    if ($("#error-message").has("div")) {
                        $("#error-message").empty();
                    }
                    $("#error-message").append("<div id='short-passwords' " +
                        "class='alert alert-warning'>Passwords should be at least 8 characters.</div>");
                } else {
                    console.log("un-disabled")
                    $(".btn-info").prop('disabled', false);
                }
            }
        }
    }
    $("#verify_password").change(function() {
        checkIfMatching();
    });

    $("#new_password").change(function() {
        checkIfMatching();
    });
</script>
</html>