<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Change Temporary Password</title>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>
<body>
<form action="/change_password_form" method="post">
    <fieldset>
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                Error: ${error}
            </div>
        </div>
        <div id="legend">
            <legend class="">Change Temporary Password</legend>
        </div>
        <div class="control-group">
            <!-- Username -->
            <label class="control-label"  for="username">Username</label>
            <div class="controls">
                <input type="text" id="username" name="username" placeholder="Please input your username" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <!-- Old Password -->
            <label class="control-label" for="old_password">Old Password</label>
            <div class="controls">
                <input type="password" id="old_password" name="old_password" placeholder="Please input your old password" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <!-- New Password -->
            <label class="control-label"  for="new_password">New Password</label>
            <div class="controls">
                <input type="password" id="new_password" name="new_password" placeholder="Please input your new password" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <!-- Verify Password -->
            <label class="control-label"  for="verify_password">Verify Password</label>
            <div class="controls">
                <input type="password" id="verify_password" name="verify_password" placeholder="Please verify your new password" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success">Submit</button>
            </div>
        </div>
    </fieldset>
</form>
</body>
</html>