<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Session</title>
    <th:block th:include="../fragments/header.html"></th:block>
</head>
<body>
    <th:block th:include="../fragments/navbar.html"></th:block>
    <div class="d-flex justify-content-center">
        <form action="/create_session_form" id="session-form" method="post">
            <fieldset>
                <h1>Create Session</h1>
                <div class="form-group">
                    <!-- Patient ID -->
                    <label class="col-form-label" for="patientId">Patient ID</label>
                    <div class="controls">
                        <input type="text" id="patientId" name="patientId"
                               class="form-control" required>
                    </div>
                </div>
                <div class="form-row">
                    <!-- Patient Name -->
                    <label class="col-form-label" for="patientName">Patient Name</label>
                    <div class="input-group mb-3">
                        <input type="text" id="patientName" name="patientName"
                               class="form-control" required>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"
                                    data-toggle="modal" data-target="#searchPatientModal" >Search Patients</button>
                        </div>
                    </div>
                </div>

                <th:block th:include="../fragments/search_patient.html"></th:block>

                <div class="form-group">
                    <!-- Scheduled Date -->
                    <label class="col-form-label" for="scheduledDate">Scheduled Date</label>
                    <div class="controls">
                        <input type="date" id="scheduledDate" name="scheduledDate"
                               class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <!-- Scheduled Time -->
                    <label class="col-form-label" for="scheduledTime">Scheduled Time (in UTC)</label>
                    <div class="controls">
                        <input type="time" id="scheduledTime" name="scheduledTime"
                               class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <!-- Duration in Minutes -->
                    <label class="col-form-label" for="durationInMin">Duration in Minutes</label>
                    <div class="controls">
                        <input type="number" id="durationInMin" name="durationInMin" placeholder="Appointment Length (Minutes)"
                               class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success" form="session-form">Create</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

</body>
</html>