<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Error Page</title>
    <th:block th:include="../fragments/header.html"></th:block>
</head>
<body>
<div class="d-flex justify-content-center"
     style="padding-top: 2%;
     padding-left:20%;
     padding-right:20%;
     display: block !important;">
    <th:block th:if="${error404}">
        <h1>This page doesn't exist.</h1>
    </th:block>
    <th:block th:unless="${error404}">
        <h1>An Error has Occurred.</h1>
        <span id="error-message" th:text="${errMessage} ?: 'Something went wrong. Please contact the developers.'"></span>
    </th:block>
    <br/>
    <div>
        <code th:text="${trace}" style="color: #f95d5d; font-size: 0.75rem;"></code>
    </div>
    <div class="text-center" style="padding-top: 20px;">
        <a sec:authorize="hasAnyAuthority('ROLE_USER_ADMIN', 'ROLE_PATIENT', 'ROLE_CLIENT_ADMIN')" href="/">Go Home</a>
        <a sec:authorize="hasAuthority('ROLE_DOCTOR')" href="/view_sessions">Go Home</a>

    </div>
</div>

</body>
<script>

    $(document).ready(function() {
        if (window.location.href.indexOf("access_denied") > -1) {
            $( "#error-message" ).text( 'Your account is not allowed to view this page.' );
        }
    });
</script>

</html>