<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>OAuth Server Management</title>
    <th:block th:include="../fragments/header.html"></th:block>
</head>
<body>
<th:block th:include="../fragments/navbar.html"></th:block>
<div class="container justify-content-center">
    <h1 class="page-header">OAuth Management Dashboard </h1>

    <div class="row" th:if="${approvals != null}">
        <div class="col-md-6 col-md-offset-3">
            <h2>Approvals</h2>

             <p>
                If you revoke the approval for one scope of a client all tokens for that client will be removed as well.
             </p>
            <table class="table table-bordered">
                <tr>
                    <th>Client</th>
                    <th>Scope</th>
                    <th>Expires at</th>
                    <th>Actions</th>
                </tr>
                <tr th:each="approval : ${approvals}">
                    <td th:text="${approval.clientId}"></td>
                    <td th:text="${approval.scope}"></td>
                    <td th:text="${approval.expiresAt}"></td>
                    <td>
                        <form action="/approval/revoke" method="POST">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <input type="hidden" name="userId" th:value="${approval.userId}"/>
                            <input type="hidden" name="clientId" th:value="${approval.clientId}"/>
                            <input type="hidden" name="scope" th:value="${approval.scope}"/>
                            <input type="hidden" name="status" th:value="${approval.status}"/>
                            <button type="submit" class="btn btn-danger">
                                Remove
                            </button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row" th:if="${clientDetails != null}">
        <div class="col-lg-10" sec:authorize="hasRole('ROLE_CLIENT_ADMIN')">
            <h2>Clients</h2>
            <table class="table table-bordered">
                <tr>
                    <th>Client ID</th>
                    <th>Client Secret</th>
                    <th>Scopes</th>
                    <th>Grant Types</th>
                    <th>Roles</th>
                    <th colspan=2>Actions</th>
                </tr>
                <tr th:each="client : ${clientDetails}">
                    <td th:text="${client.clientId}"></td>
                    <td th:text="${client.clientSecret}"></td>
                    <td th:text="${client.scope}"></td>
                    <td th:text="${client.authorizedGrantTypes}"></td>
                    <td th:text="${client.authorities}"></td>
                    <td>
                        <a class="btn btn-info" th:href="@{/clients/form?client=__${client.clientId}__}">
                            Edit
                        </a>
                    </td>
                    <td colspan=2>
                        <a class="btn btn-danger" th:href="@{/clients/__${client.clientId}__/delete}">
                            Delete
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="7">
                        <a class="btn btn-outline-info btn-circle" href="/clients/form">
                            +
                        </a> <a href="/clients/form">Add a Client</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row" th:if="${partners != null}">
        <div class="col-md-10" sec:authorize="hasRole('ROLE_USER_ADMIN')">
            <h2>Partners</h2>
            <table class="table table-bordered">
                <tr>
                    <th>Partner ID</th>
                    <th>Client ID</th>
                    <th>Client Secret</th>
                    <th>Access Token Uri</th>
                    <th>User Authorization Uri</th>
                    <th>Scopes</th>
                </tr>
                <tr th:each="partner : ${partners}">
                    <td th:text="${partner.partnerId}"></td>
                    <td th:text="${partner.clientId}"></td>
                    <td th:text="${partner.clientSecret}"></td>
                    <td th:text="${partner.accessTokenUri}"></td>
                    <td th:text="${partner.userAuthorizationUri}"></td>
                    <td th:text="${partner.scopes}"></td>
                    <td>
                        <a class="btn btn-info" th:href="@{/partners/form?partnerId=__${partner.partnerId}__}">
                            Edit
                        </a>
                    </td>
                    <td colspan=2>
                        <a class="btn btn-danger" th:href="@{/partners/__${partner.partnerId}__/delete}">
                            Remove
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="8">
                        <a class="btn btn-outline-info btn-circle" href="/partners/form">
                            +
                        </a> <a href="/partners/form">Add a Partner</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
