<!-- Doctor login page : /login -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctor Application Login</title>
    <th:block th:include="../fragments/header.html"></th:block>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <th:block th:include="../fragments/navbar.html"></th:block>
    <div class="row">
        <div class="col-lg-6 offset-md-3">
            <div id="error-message">
                <!-- Attribute/param 'error' is passed here -->
                <div class="alert alert-danger" th:if="${error}">Invalid username or password.</div>
                <!-- Flash attribute 'user_name_val' is passed here -->
                <div class="alert alert-info" th:if="${user_name_val}"
                     th:text="${'Registration success! Your user name is ' + user_name_val +
                        '. Please check your email for your temporary password.'}">
                </div>
                <div class="alert alert-info" th:if="${passwordChanged}">
                    Your password was changed successfully. Please log in again.
                </div>
            </div>
            <h1>Login page</h1>
            <th:block th:if="${param.doctor}">
                <h2>Doctor Login</h2>
            </th:block>

            <th:block th:unless="${param.doctor}">
                <h2>Patient Login</h2>
            </th:block>
            <form id="login-form" action="login" method="post">
                <div class="form-group">
                    <label for="username">Username</label>:
                    <input type="text" id="username" class="form-control"
                           name="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>:
                    <input type="password" id="password" class="form-control"
                           name="password" placeholder="Password" required>
                </div>
                <div>
                    <div class="d-block">
                        <input type="submit" name="login-submit" id="login-submit" class="btn btn-info" value="Log In">
                        <th:block th:if="${param.doctor}">
                            <div class="float-right"><a href="/register" class="btn btn btn-outline-info">Register New User</a></div>
                        </th:block>

                        <th:block th:unless="${param.doctor}">
                            <div class="float-right"><a href="/patient/register" class="btn btn btn-outline-info">Register New User</a></div>
                        </th:block>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    $("#login-form").submit(function(event) {
        $(".form-group").each(function() {
            if ($(this).find('input').val().trim() == '') {
                if ($("#no-input").parents("#error-message").length != 1) {
                    $(".alert-danger").hide();
                    $("#error-message").append("<div id='no-input' " +
                        "class='alert alert-warning'>Please input both a username and password.</div>");
                }
                event.preventDefault();
            }
        });
    });
    $(document).ready(function() {
        $("#logout").remove();
    });
</script>
</html>