<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<form action="/create_user_form" method="post">
    <fieldset>
        <div id="legend">
            <legend class="">Register</legend>
        </div>
        <div class="control-group">
            <!-- Username -->
            <label class="control-label"  for="username">Username</label>
            <div class="controls">
                <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
                <p class="help-block">Username can contain any letters or numbers, without spaces</p>
            </div>
        </div>

        <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">E-mail</label>
            <div class="controls">
                <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
                <p class="help-block">Please provide your E-mail</p>
            </div>
        </div>

        <div class="form-group">
            <!-- FirstName -->
            <label class="col-form-label" for="firstname">First Name</label>
            <div class="controls">
                <input type="text" id="firstname" name="firstname" placeholder="" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <!-- LastName -->
            <label class="col-form-label" for="lastname">Last Name</label>
            <div class="controls">
                <input type="text" id="lastname" name="lastname" placeholder="" class="form-control" required>
            </div>
        </div>
        <div class="control-group">
            <!-- dateOfBirth-->
            <label class="control-label" for="dateOfBirth">Date Of Birth</label>
            <div class="controls">
                <input type="title" id="dateOfBirth" name="dateOfBirth" placeholder="Will replace it with date selection" class="input-xlarge">
                <p class="help-block">Password should be at least 4 characters</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success">Register</button>
            </div>
        </div>
    </fieldset>
</form>