<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Create Session</title>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>
<body>
<form action="/search_patient_form" method="post">
    <fieldset>
        <div id="legend">
            <legend class="">Create Session</legend>
        </div>
        <div class="control-group">
            <!-- patientId -->
            <label class="control-label"  for="patientFirstName">Patient FirstName</label>
            <div class="controls">
                <input type="text" id="patientFirstName" name="patientFirstName"  class="input-xlarge">
            </div>
        </div>
        <div class="control-group">
            <!-- PatientName -->
            <label class="control-label"  for="patientLastName">Patient LastName</label>
            <div class="controls">
                <input type="text" id="patientLastName" name="patientLastName" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success">Search</button>
            </div>
        </div>
    </fieldset>
</form>
</body>
</html>