<!-- Doctor Preview Sessions : /sessions -->

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Preview Sessions</title>
    <th:block th:include="../fragments/header.html"></th:block>
</head>
<body>
<th:block th:include="../fragments/navbar.html"></th:block>
<div class="d-flex justify-content-center"
     style="padding-top: 2%;
     padding-left:20%;
     padding-right:20%;
     display: block !important;">

    <div>
        <h1>Scheduled Sessions</h1>
    </div>

    <div th:if="sessions" style="display: block;">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Room ID</th>
                <th>Patient Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Duration</th>
                <th>Doctor Status</th>
                <th>Patient Status</th>
                <th style="background-color: #fff;
                        color: #000;
                        border-color: #fff;">Access Session</th>
            </tr>
            </thead>

            <th:block th:each="sess : ${sessions}">
                <tr>
                    <td th:if="${sess.roomId}" th:text="${sess.roomId}">...</td>

                    <!-- Placeholder for patient name: -->
                    <!-- In theory, this would be hidden somewhere else,
                    and the line commented out below would be here -->
                    <td th:if="${sess.patientId}" th:text="${sess.patientId}">...</td>
<!--                    <td th:text="${sess.patientName}">...</td>-->

                    <!-- Placeholder for the date -->
                    <td>January 25, 2021</td>
<!--                    <td th:if="${sess.date}" th:text="${sess.date}">...</td>-->

                    <td th:if="${sess.scheduledTime}" th:text="${sess.scheduledTime}">...</td>
                    <td th:if="${sess.durationInMin}" th:text="${sess.durationInMin}">...</td>

                    <td th:if="${sess.doctorStatus}" th:text="${sess.doctorStatus}">...</td>

                    <td th:if="${sess.patientStatus}" th:text="${sess.patientStatus}">...</td>

                    <td th:classappend="${sess.doctorStatus != 'JOINED'} ? table-link">
                        <div th:if="${sess.doctorStatus != 'JOINED'}" onclick="location.href='/sessionCall'">
                            Join Session
                        </div>
                    </td>
                </tr>
            </th:block>
        </table>

        <a class="btn btn-outline-secondary" href="/create_sessions" style="float:right;">Create New Session</a>
    </div>
</div>

</body>
</html>