<!-- Doctor Preview Sessions : /view_sessions -->

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Preview Sessions</title>
    <th:block th:include="../fragments/header.html"></th:block>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
</head>
<body>
<th:block th:include="../fragments/navbar.html"></th:block>
<div class="d-flex justify-content-center"
     style="padding-top: 2%;
     padding-left:20%;
     padding-right:20%;
     display: block !important;">

    <div id="message-div">
        <div class="alert alert-info" th:if="${newSessionCreated}">
            New session successfully created!
        </div>
    </div>
    <div>
        <h1>Scheduled Sessions</h1>
        <h3 th:text="${param.startTime != null || param.endTime != null} ? 'For Requested Time Frame' : 'For this Week'"></h3>
    </div>

    <div th:if="${sessions.size() != 0}" style="display: block;">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Patient Date of Birth</th>
                <th>Patient Name</th>
                <th>Appointment Date</th>
                <th>Appointment Time</th>
                <th>Doctor Status</th>
                <th>Patient Status</th>
                <th>Access Session</th>
            </tr>
            </thead>

            <th:block th:each="sess : ${sessions}">
                <tr>
                    <!-- Request was made to not have room ID, as it was not neccessary -->
<!--                    <td th:if="${sess.roomId}" th:text="${sess.roomId}">...</td>-->

                    <td th:if="${sess.patient.getDob()}" th:text="${sess.patient.getDob()}">...</td>
                    <th:block th:if="${sess.patient.getFirstName()}" >
                        <td th:if="${sess.patient.getLastName()}"
                            th:text="${sess.patient.getFirstName() + ' ' + sess.patient.getLastName()}">...</td>
                    </th:block>

                    <td th:if="${sess.date}" th:text="${sess.date}">...</td>

                    <td th:if="${sess.time}" th:text="${sess.time}">...</td>

                    <td th:if="${sess.doctorStatus}"><i class="fas fa-user-check fa-2x"></i>Connected</td>
                    <td th:unless="${sess.doctorStatus}"><i class="fas fa-user fa-2x"></i>  Waiting</i></td>

                    <td th:if="${sess.patientStatus}"><i class="fas fa-user-check fa-2x"></i>Connected</td>
                    <td th:unless="${sess.patientStatus}"><i class="fas fa-user fa-2x"></i>  Waiting</td>

                    <td th:classappend="${!sess.doctorStatus} ? table-link : table-disabled">
                        <div th:if="${!sess.doctorStatus}">
                            <form action="/connect_session" method="post">
                                <input type="hidden" id="roomId" name="roomId" th:value="${sess.roomId}">
                                <input type="submit" class="btn btn-link table-text" value="Join Session">
                            </form>

                        </div>
                        <div th:unless="${!sess.doctorStatus}" style="color: #eb4034 !important; text-align: center;">
                            Session in Progress
                        </div>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>

    <div th:unless="${sessions.size() != 0}">
        No sessions are available yet. Try scheduling a session with the 'Create Session' button.
    </div>

    <span> See sessions for different time window:</span>
    <form action="/view_sessions">
        <label for="startTime">Start Time</label>:
        <input type="date" id="startTime" name="startTime"> &emsp;
        <label for="endTime">End Time</label>:
        <input type="date" id="endTime" name="endTime"> &emsp;
        <button class="btn btn-outline-info" type="submit">Get Sessions</button>

    </form>
    <p></p>

    <div style="display: block; padding-top: 10px;">
        <a class="btn btn-outline-info" href="/create_session" style="float:right;">Create New Session</a>
    </div>

</div>
<th:block th:include="../fragments/footer.html"></th:block>

</body>
</html>